<article itemscope itemtype="http://schema.org/BlogPosting"
  role="article" class="post-item {{post_class}}">
  <header class="post-item-header">
  {{#if image}}
    <img src="{{image}}" alt="{{title}}" class="post-item-image">
  {{/if}}
    <h2 itemprop="name" class="post-item-title">
      <a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">
        {{{title}}}
      </a>
    </h2>
  </header>
  <section itemprop="description" class="post-item-excerpt">
    <p>{{excerpt words="35"}}&hellip;</p>
  </section>
</article>
